@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Roboto:wght@100&display=swap');

body {
  font-family: 'Balsamiq Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
nav {
  background-color: black;

  padding: 1px;

}

nav ul {
  list-style: none;
  display: flex;
}



footer {
  background-color: black;
  color: #fff;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  

}

.left-part {
  display: flex;
  flex: 1;
  justify-content: space-around;

}

.right-part {
  display: flex;
  flex: 1;
  justify-content: space-around;

}

a {
  text-decoration: none;
  color: white;
}

section {
  padding: 2rem;
}

.project {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 1rem 0;
}

.LinkedIn {
  max-width: 100%;
  height: auto;
  width: 30%;
  
}

.LinkedInLogo {
  width: 40%;
}

.GitHub {
  width: 40%;
}

/* .social-media {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
} */
.links {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}

/* About */
.main-container {
  display: flex;
  
  background-color: green;
  padding: 10px 10px 0px 10px;
}

.left-container {
  display: flex;
  flex: 1;
  /* Each inner container will take equal space */
  margin: 5px;
  padding: 20px;
  background-color: white;
  justify-content: center;
  align-items: start;

}

.right-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* Each inner container will take equal space */
  margin: 5px;
  padding: 20px;
  background-color: white;
}

.language-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* Each inner container will take equal space */
  margin: 5px;
  padding: 20px;
  background-color: white;
}