@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Roboto:wght@100&display=swap');

body {
  font-family: 'Balsamiq Sans', sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: black;
  color: #fff;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

footer {
  background-color: black;
  color: #fff;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.left-part {
  display: flex;
  flex: 1;
  justify-content: space-around;
  
}
.right-part {
  display: flex;
  flex: 1;
  justify-content: space-around;
  
}

a {
  text-decoration: none;
  color: white;
}

section {
  padding: 2rem;
}

.project {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 1rem 0;
}
.LinkedIn {
  width: 40%;
}
.GitHub {
  width: 40%;
}
.social-media {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}
.links {
  display: flex;
  flex: 2;
  justify-content: space-around;
  align-items: center;
}